{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ post.title }} {% endblock title %}</title>
</head>
<body>
    {% block content %}
     <h1>{{ post.title }}</h1>
     <p>Published {{ post.publish }} by {{ post.author }}</p>

     {{ post.body|linebreaks}}
     <p>
        <a href="{% url 'blog:post_share' post.id %}">Share post</a>
     </p>
     {% with comments.count as total_commnets %}
     <h2>{{ total_commnets }} comment {{ total_comments|pluralize }}</h2>
     {% endwith %}

     {% for comment in comments %}
     <div>
        <p>
            Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
        </p>
     {{ comment.body|linebreaks }}

     </div>
        {% empty %}
        <p>There are no commnet </p>

        {% endfor %}
     {% include 'comment_form.html' %}
    {% endblock content %}
</body>
</html>