{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My blog  {% endblock title %}</title>
</head>
<body>
    {% block content %}


    {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></h1>
                <!-- % url 'blog:post_detail' post.id % -->
                <p class="card-text">Published {{ post.publish }} by {{ post.author }}.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                {{ post.body|truncatewords:30|linebreaks }}
            </div>
        </div>
    {% endfor %}


    {% include "pagination.html" with page=posts %}
    
    {% endblock content %}

</body>
</html>